extends /layouts/home.pug

append data
  -
    const i18n = Object.freeze( {
      'en-US': {
        'title': 'Login',
        'topic': 'Latest news',
        'more':  'more',
        'hot':   'Hot news',
      },
      'zh-TW': {
        'title': '登入',
        'topic': '最新消息',
        'more':  '更多資訊',
        'hot':   '最近熱門',
      },
    } );
    const currentRoute = '';

append title
  +title( i18n[ language ].title )

append stylesheets
  +css( '/login/error' )

append header

append content
  form.login( method = 'post', action = '/login/error' )
    h1.login__title error1111
    input.login__input--account( type = 'text', name = 'account', placeholder = '帳號' )
    br
    input.login__input--password( type = 'passwd', name = 'password', placeholder = '密碼' )
    br
    a.login__forgetPassword( href = '' ) 忘記密碼？
    section.login__verification
    input.login__loginButton( type = 'submit', value = '登入' )

append footer

append scripts
  +js( '/login/error' )
