extends /layouts/home.pug

append data
  -
    const i18n = Object.freeze( {
      'en-US': {
        'title': 'Sign in',
        'reminder_1': 'You may check your e-mail address.!',
        'reminder_2': 'no mail received?',
        'link': 'resent verification code',
        'verify_code': 'AABBCC',
        'button_word': 'Submit',
      },
      'zh-TW': {
        'title': '輸入驗證碼',
        'reminder_1': '郵件已寄出！請至預設信箱確認驗證碼!',
        'reminder_2' : '沒有收到郵件?',
        'link': '重新寄出驗證碼',
        'verify_code': 'AABBCC',
        'button_word': '送出驗證碼',
      },
    } );
    const currentRoute = '';

append title
  +title( i18n[ language ].title )

append stylesheets
  +css( '/login/verify' )

append header

append content
  section.left_section

  form.login( method = 'post', action = '/login' )
    h1.login__title= i18n[ language ].title
    p.login__reminder--1= i18n[ language ].reminder_1
    p.login__reminder--2= i18n[ language ].reminder_2
      a(href='#')= i18n[ language ].link
    input.login__input--verify_code( type = 'text', name = 'verify_code', placeholder = i18n[ language ].verify_code )
    input.login__submit_button( type = 'submit', value = i18n[ language ].button_word )

  section.right_section

append footer

append scripts
  +js( 'login/verify' )
