body {
  > .content {
    display: grid;
    grid-template-columns: auto;
  }
}

// [ variable ]
$large: 430px;

%login_template {
  // [ position ]
  width: 430 / 32 * 1rem;

  // [ layout ]
  margin: 234 / 32 * 1rem auto 423 / 32 * 1rem;

  // [ RWD: $large ]
  @media only screen and ( max-width: $large ) {
    width: 100%;
  }

  // [ skin ]
  background-color: rgba( 224, 224, 224, .1 );
  border: {
    width: 1px;
    style: solid;
    color: rgba( 117, 117, 117, .1 );
    radius: 3px;
    top: 5 / 32 * 1rem solid #999999;
  }
}

%input {
  // [ layout ]
  margin-left: 56.8 / 32 * 1rem;

  // [ skin ]
  height: 45 / 32 * 1rem;
  width: 320 / 32 * 1rem;
  padding-left: 13.2 / 32 * 1rem;
  background-color: rgba( 224, 224, 224, .4 );
  border: {
    left-width: 5 / 32 * 1rem;
    style: solid;
    radius: 3 / 32 * 1rem;
    color: #999999;
  }
  font: {
    family: notosanscjktc;
    size: 18 / 32 * 1rem;
    weight: normal;
    style: normal;
    stretch: normal;
  }

  // [ RWD: $large ]
  @media only screen and ( max-width: $large ) {
    width: 279 / 375 * 100%;
    margin-left: 48 / 375 * 100%;
  }
}

%placeholder {
  // [ position ]
  // position: relative;
  // left: 13 / 32 * 1rem;
  // bottom: 5 / 32 * 1rem;

  // [ skin ]
  width: 81 / 32 * 1rem;
  font: {
    family: notosanscjktc;
    size: 18 / 32 * 1rem;
    weight: normal;
    style: normal;
    stretch: normal;
  }
  letter-spacing: normal;
  color: #757575;
}

%button {
  // [ layout ]
  margin: {
    left: 54 / 32 * 1rem;
    right: 56 / 32 * 1rem;
  }

  // [ skin ]
  width: 320 / 32 * 1rem;
  height: 45 / 32 * 1rem;
  border: {
    radius: 3 / 32 * 1rem;
    style: none;
  }
  background-color: #adacad;
  color: #ffffff;
  font: {
    family: notosanscjktc;
    size: 18 / 32 * 1rem;
    stretch: normal;
    weight: normal;
    style: normal;
  }

  // [ RWD: $large ]
  @media only screen and ( max-width: $large ) {
    width: 279 / 375 * 100%;
    margin-left: 48 / 375 * 100%;
  }
}
