@import 'components/common/reset';
@import 'components/common/header';
@import 'components/common/footer';

// block
// `body`
body {
  // block
  // `body > .content`
  > .content {
    // [ variable ]
    $large: 430px;

    // [ template ]
    %login {
      // [ layout ]
      margin: 234 / 32 * 1rem auto 423 / 32 * 1rem;

      // [ skin ]
      width: 100%;
      background-color: rgba( 224, 224, 224, .1 );
      border: {
        width: 1 / 32 * 1rem;
        style: solid;
        color: rgba( 117, 117, 117, .1 );
        radius: 3px;
        top: 5 / 32 * 1rem solid #999999;
      }

      // [ RWD: $large ]
      @media only screen and ( min-width: $large ) {
        // [ skin ]
        width: 430 / 32 * 1rem;
      }
    }

    // [ template ]
    %input {
      // [ layout ]
      margin-left: 48 / 375 * 100%;

      // [ skin ]
      width: 279 / 375 * 100%;
      height: 45 / 32 * 1rem;
      padding-left: 13.2 / 32 * 1rem;
      background-color: rgba( 224, 224, 224, .4 );
      border: {
        left-width: 5 / 32 * 1rem;
        style: solid;
        radius: 3 / 32 * 1rem;
        color: #999999;
      }
      font: {
        // @TODO: fix font
        family: notosanscjktc;
        size: 18 / 32 * 1rem;
        weight: normal;
        style: normal;
        stretch: normal;
      }

      // [ RWD: $large ]
      @media only screen and ( min-width: $large ) {
        // [ layout ]
        margin-left: 56.8 / 32 * 1rem;

        // [ skin ]
        width: 320 / 32 * 1rem;
      }
    }

    // [ template ]
    %placeholder {
      // [ skin ]
      width: 81 / 32 * 1rem;
      font: {
        // @TODO: fix font
        family: notosanscjktc;
        size: 18 / 32 * 1rem;
        weight: normal;
        style: normal;
        stretch: normal;
      }
      letter-spacing: normal;
      color: #757575;
    }

    // [ template ]
    %button {
      // [ layout ]
      margin: {
        left: 48 / 375 * 100%;
        right: 56 / 32 * 1rem;
      }

      // [ skin ]
      width: 279 / 375 * 100%;
      height: 45 / 32 * 1rem;
      border: {
        radius: 3 / 32 * 1rem;
        style: none;
      }
      background-color: #adacad;
      color: #ffffff;
      font: {
        // @TODO: fix font
        family: notosanscjktc;
        size: 18 / 32 * 1rem;
        stretch: normal;
        weight: normal;
        style: normal;
      }

      // [ RWD: $large ]
      @media only screen and ( min-width: $large ) {
        // [ layout ]
        margin-left: 54 / 32 * 1rem;

        // [ skin ]
        width: 320 / 32 * 1rem;
      }
    }

    // [ layout ]
    display: grid;
    grid-template-columns: auto;

    // block
    // `body > .content > .login`
    > .login {
      // [ variable ]
      $large: 483px;

      // [ template ]
      @extend %login;

      // [ skin ]
      width: 100%;

      // [ RWD: $large ]
      @media only screen and ( min-width: $large ) {
        // [ skin ]
        width: 483 / 32 * 1rem;
      }

      // modifier
      // `.body > .content > .login.login--hidden`
      &--hidden {
        display: none;
      }

      // element
      // `body > .content > .login > .login__title`
      > .login__title {
        // [ layout ]
        margin-top: 34.8 / 32 * 1rem;

        // [ skin ]
        font: {
          // @TODO
          family: notosanscjktc;
          size: 24 / 32 * 1rem;
          weight: bold;
          style: normal;
          stretch: normal;
        }
        text-align: center;
        line-height: normal;
        letter-spacing: normal;
      }

      // element
      // `body > .content > .login > .login__input`
      > .login__input {
        // [ template ]
        @extend %input;

        // [ layout ]
        margin-left: 13%;

        // [ skin ]
        width: 74%;

        // [ placeholder ]
        &::placeholder {
          // [ template ]
          @extend %placeholder;
        }

        // [ RWD: $large ]
        @media only screen and ( min-width: $large ) {
          // [ layout ]
          margin-left: 61.8 / 32 * 1rem;

          // [ skin ]
          width: 359.4 / 32 * 1rem;
        }

        // modifier
        // `body > .content > .login > .login_input.login__input--account`
        &--account {
          // [ layout ]
          margin-top: 33.7 / 32 * 1rem;
        }

        // modifier
        // `body > .content > .login > .login_input.login__input--password`
        &--password {
          // [ layout ]
          margin-top: 21.4 / 32 * 1rem;
        }
      }

      // element
      // `body > .content > .login > .login__reset`
      > .login__reset {
        // [ layout ]
        margin-top: 22 / 32 * 1rem;

        // [ skin ]
        font: {
          // @TODO
          family: notosanscjktc;
          size: 14 / 32 * 1rem;
          weight: normal;
          style: normal;
          stretch: normal;
        }
        text-align: center;
        line-height: 1.71;
        letter-spacing: normal;
        color: #6982c0;

        // modifier
        // `body > .content > .login > .login__reset.login__reset--hidden`
        &--hidden {
          display: none;
        }
      }

      // element
      // `body > .content > .login > .login__forget`
      > .login__forget {
        // [ layout ]
        margin: {
          top: 21.4 / 32 * 1rem;
          right: auto;
          left: 66 / 375 * 100%;
        }

        // [ skin ]
        width: 68 / 375 * 100%;
        height: 27 / 32 * 1rem;
        line-height: 1.71;
        letter-spacing: normal;
        color: #399dff;
        font: {
          // @TODO
          family: notosanscjktc;
          style: normal;
          size: 14 / 32 * 1rem;
          weight: normal;
          stretch: normal;
        }

        // [ interaction ]
        &:hover {
          // [ skin ]
          cursor: pointer;
        }

        // modifier
        // `body > .content > .login > .login__forget.login__forget--hidden`
        &--hidden {
          // [ layout ]
          display: none;
        }

        // [ RWD: $large ]
        @media only screen and ( min-width: $large ) {
          // [ skin ]
          width: 70.8 / 32 * 1rem;
        }
      }

      // element
      // `body > .content > .login > .login__verification`
      > .login__verification {
        // [ layout ]
        margin: {
          top: 21.4 / 32 * 1rem;
          right: auto;
          bottom: 0;
          left: 64.6 / 375 * 100%;
        }

        // [ skin ]
        width: 245 / 375 * 100%;
        height: 82 / 32 * 1rem;
        background-color: #399dff;

        // [ RWD: $large ]
        @media only screen and ( min-width: $large ) {
          // [ layout ]
          margin-left: 83.1 / 32 * 1rem;

          // [ skin ]
          width: 315.6 / 32 * 1rem;
        }
      }

      // element
      // `body > .content > .login > .login__button`
      > .login__button {
        // [ template ]
        @extend %button;

        // [ Layout ]
        margin: {
          top: 33.6 / 32 * 1rem;
          left: 48 / 375 * 100%;
        }

        // [ skin ]
        width: 279 / 375 * 100%;
        height: 50.6 / 32 * 1rem;
        font: {
          // @TODO
          family: notosanscjktc;
          size: 18 / 32 * 1rem;
          stretch: normal;
          weight: normal;
          style: normal;
        }

        // [ RWD: $large ]
        @media only screen and ( min-width: $large ) {
          // [ layout ]
          margin-left: 61.8 / 32 * 1rem;

          // [ skin ]
          width: 359.4 / 32 * 1rem;
        }

        // modifier
        // `body > .content > .login > .login__button.login__button--valid`
        &--valid {
          // [ skin ]
          background-color: #213262;

          // [ interaction ]
          &:hover {
            // [ skin ]
            background-color: #ffffff;
            color: #213262;
          }
        }
      }

      // element
      // `body > .content > .login > .login__error`
      > .login__error {
        // [ layout ]
        margin: {
          top: 18 / 32 * 1rem;
          bottom: 30 / 32 * 1rem;
        }

        // [ skin ]
        color: #d60b38;
        font: {
          // @TODO
          family: notosanscjktc;
          size: 14 / 32 * 1rem;
          weight: normal;
          style: normal;
          stretch: normal;
        }
        line-height: 1.71;
        letter-spacing: normal;
        text-align: center;

        // modifier
        // `body > .content > .login > .login__error.login__error--hidden`
        &--hidden {
          // [ skin ]
          visibility: hidden;
        }
      }
    }

    // block
    // `body > .content > .forget`
    > .forget {
      // [ template ]
      @extend %login;

      // modifier
      // `body > .content > .forget.forget--hidden`
      &--hidden {
        display: none;
      }

      // element
      // `body > .content > .forget > .forget__title`
      > .forget__title {
        // [ layout ]
        margin-top: 32 / 32 * 1rem;

        // [ skin ]
        font: {
          // @TODO
          family: notosanscjktc;
          size: 24 / 32 * 1rem;
          weight: bold;
          style: normal;
          stretch: normal;
        }
        text-align: center;
        line-height: normal;
        letter-spacing: normal;
      }

      // element
      // `body > .content > .forget > .forget__description`
      > .forget__description {
        // [ layout ]
        margin-top: 24 / 32 * 1rem;

        // [ skin ]
        color: #757575;
        font: {
          // @TODO
          family: notosanscjktc;
          size: 14 / 32 * 1rem;
          weight: normal;
          style: normal;
          stretch: normal;
        }
        text-align: center;
        line-height: 1.71;
        letter-spacing: normal;
      }

      // element
      // `body > .content > .forget > .forget__input`
      > .forget__input {
        // [ template ]
        @extend %input;

        // [ layout ]
        margin-top: 18 / 32 * 1rem;

        // [ placeholder ]
        &::placeholder {
          @extend %placeholder;
        }
      }

      // element
      // `body > .content > .forget > .forget__button`
      > .forget__button {
        // [ layout ]
        margin-top: 27 / 32 * 1rem;

        // [ template ]
        @extend %button;

        // modifier
        // `body > .content > .forget > .forget__button.forget__button--valid`
        &--valid {
          // [ skin ]
          background-color: #213262;

          // [ interaction ]
          &:hover {
            // [ skin ]
            background-color: #ffffff;
            color: #213262;
          }
        }
      }

      // element
      // `body > .content > .forget > .forget__error`
      > .forget__error {
        // [ layout ]
        margin-top: 18 / 32 * 1rem;

        // [ skin ]
        color: #d60b38;
        font: {
          // @TODO
          family: notosanscjktc;
          size: 14 / 32 * 1rem;
          weight: normal;
          style: normal;
          stretch: normal;
        }
        text-align: center;
        line-height: 1.71;
        letter-spacing: normal;

        // modifier
        // `body > .content > .forget > .forget__error.forget__error--hidden`
        &--hidden {
          visibility: hidden;
        }
      }

      // element
      // `body > .content > .forget > .forget__reminder`
      // block
      // `body > .content > .forget > .reminder`
      > .forget__reminder.reminder {
        // [ layout ]
        margin: {
          top: 15 / 32 * 1rem;
          bottom: 27 / 32 * 1rem;
        }

        // [ skin ]
        height: 24 / 32 * 1rem;
        color: #213262;
        font: {
          // @TODO
          family: notosanscjktc;
          size: 14 / 32 * 1rem;
          weight: normal;
          style: normal;
          stretch: normal;
        }
        text-align: center;
        line-height: 1.71;
        letter-spacing: normal;

        // element
        // `body > .content > .forget > .reminder > .reminder__text`
        > .reminder__text {
          text-decoration: underline;
        }
      }
    }

    // block
    // `body > .content > .verify
    > .verify {
      // [ template ]
      @extend %login;

      // modifier
      // `body > .content > .verify.verify--hidden`
      &--hidden {
        // [ layout ]
        display: none;
      }

      // element
      // `body > .content > .verify > .verify__title`
      > .verify__title {
        // [ layout ]
        margin-top: 32 / 32 * 1rem;

        // [ skin ]
        font: {
          // @TODO
          family: notosanscjktc;
          size: 24 / 32 * 1rem;
          weight: bold;
          style: normal;
          stretch: normal;
        }
        text-align: center;
        line-height: normal;
        letter-spacing: normal;
      }

      // element
      // `body > .content > .verify > .verify__reminder`
      // block
      // `body > .content > .verify > .reminder`
      > .verify__reminder.reminder {
        // [ skin ]
        color: #757575;
        font: {
          // @TODO
          family: notosanscjktc;
          size: 14 / 32 * 1rem;
          weight: normal;
          style: normal;
          stretch: normal;
        }
        text-align: center;
        line-height: 1.71;
        letter-spacing: normal;

        // modifier
        // `body > .content > .verify > .verify__reminder.verify__reminder--1`
        &--1 {
          // [ layout ]
          margin-top: 22 / 32 * 1rem;
        }

        // modifier
        // `body > .content > .verify > .verify__reminder.verify__reminder--2`
        &--2 {
          // [ layout ]
          margin-top: 6 / 32 * 1rem;
        }

        // element
        // `body > .content > .verify > .reminder > .reminder__text`
        > .reminder__text {
          // [ skin ]
          text-decoration: underline;
        }
      }

      // element
      // `body > .content > .verify > .verify__code`
      > .verify__code {
        // [ template ]
        @extend %input;

        // [ layout ]
        margin-top: 22 / 32 * 1rem;

        // [ placeholder ]
        &::placeholder {
          // [ template ]
          @extend %placeholder;
        }
      }

      // element
      // `body > .content > .verify > .verify__button`
      > .verify__button {
        // [ layout ]
        margin-top: 33.6 / 32 * 1rem;

        // [ template ]
        @extend %button;

        // modifier
        // `body > .content > .verify > .verify__button.verify__button--valid`
        &--valid {
          // [ skin ]
          background-color: #213262;

          // [ interaction ]
          &:hover {
            // [ skin ]
            background-color: #ffffff;
            color: #213262;
          }
        }
      }

      // element
      // `body > .content > .verify > .verify__error`
      > .verify__error {
        // [ layout ]
        margin: {
          top: 18 / 32 * 1rem;
          bottom: 30 / 32 * 1rem;
        }

        // [ skin ]
        color: #d60b38;
        font: {
          // @TODO
          family: notosanscjktc;
          size: 14 / 32 * 1rem;
          weight: normal;
          style: normal;
          stretch: normal;
        }
        text-align: center;
        line-height: 1.71;
        letter-spacing: normal;

        // modifier
        // `body > .content > .verify > .verify__error.verify__error--hidden`
        &--hidden {
          // [ skin ]
          visibility: hidden;
        }
      }
    }

    // block
    // `.body > .content  > .reset`
    > .reset {
      // [ template ]
      @extend %login;

      // modifier
      // `.body > .content > .reset`
      &--hidden {
        // [ layout ]
        display: none;
      }

      // element
      // `body > .content > .reset > .reset__title`
      > .reset__title {
        // [ layout ]
        margin-top: 32 / 32 * 1rem;

        // [ skin ]
        font: {
          // @TODO
          family: notosanscjktc;
          size: 24 / 32 * 1rem;
          weight: bold;
          style: normal;
          stretch: normal;
        }
        text-align: center;
        line-height: normal;
        letter-spacing: normal;
      }

      // element
      // `body > .content > .reset > .reset__input`
      > .reset__input {
        // [ template ]
        @extend %input;

        // [ layout ]
        margin-top: 33 / 32 * 1rem;

        // modifier
        // `body > .content > .reset > .reset__input.reset__input--check`
        &--check {
          // [ layout ]
          margin-top: 18 / 32 * 1rem;
        }

        // [ placeholder ]
        &::placeholder {
          // [ template ]
          @extend %placeholder;
        }
      }

      // element
      // `body > .content > .login > .reset > .reset__button`
      > .reset__button {
        // [ layout ]
        margin-top: 33.6 / 32 * 1rem;

        // [ template ]
        @extend %button;

        // modifier
        // `body > .content > .login > .reset > .reset__button.reset__button--valid`
        &--valid {
          // [ skin ]
          background-color: #213262;

          // [ interaction ]
          &:hover {
            // [ skin ]
            background-color: #ffffff;
            color: #213262;
          }
        }
      }

      // element
      // `body > .content > .login > .reset > .reset__error`
      > .reset__error {
        // [ layout ]
        margin: {
          top: 18 / 32 * 1rem;
          bottom: 30 / 32 * 1rem;
        }

        // [ skin ]
        color: #d60b38;
        font: {
          // @TODO
          family: notosanscjktc;
          size: 14 / 32 * 1rem;
          weight: normal;
          style: normal;
          stretch: normal;
        }
        text-align: center;
        line-height: 1.71;
        letter-spacing: normal;

        // modifier
        // `body > .content > .login > .reset > .reset__error.reset__error--hidden`
        &--hidden {
          // [ skin ]
          visibility: hidden;
        }
      }
    }
  }
}
